$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$gray: #393e46;
$gray-light: #6a727f;
$gray-lighter: #f8f8f9;
$gray-dark: #282f3a;
$gray-darker: #252b36;
$blue-color: #4a44f2;
$orange-color: #f67847;